// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
main {
    width: auto;
    height: 500px;
}

.header {
    background-color: blue;
    height: 100px;
    width: 100%;
    color: white;
    position: relation;

}

.header p#notice {
    padding-top: 30px;
    margin: 0 auto;
    font-size: 20px;
    color: white;

}

.contain {
    height: 100px;
}

.header h1 {
    padding-top: 50px;
    margin: 0 auto;
    font-size: 50px;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: aqua;
    height: 100px;
    width: 100%;

}