
main {
    width: auto;
    height: 500px;
}

.header {
    background-color: blue;
    height: 100px;
    width: 100%;
    color: white;
    position: relation;

}

.header p#notice {
    padding-top: 30px;
    margin: 0 auto;
    font-size: 20px;
    color: white;

}

.contain {
    height: 100px;
}

.top_page {
    font-size: 100px;
    text-decoration: none;

}

.header h1 {
    padding-top: 50px;
    margin: 0 auto;
    font-size: 50px;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: aqua;
    height: 100px;
    width: 100%;

}